@import '../universal.scss';

body {
    font-family: $font__family;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    h1 {
        text-align: center;
        font-weight: 800;
        font-size: 50px;
    }
}

.header {
    font-size: $font__size;
    display: flex;
    width: 98%;
    height: 70px;
    padding: 15px;
    justify-content: space-between;
    font-weight: 500;
    img {
        width: 180px;
    }

    &__info {
        display: flex;
        width: 60%;
        gap: 35px;
        justify-content: right;
        align-items: center;

        .blog {
            color: $blue;
        }
    }

    &__buttons {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: space-between;
        button {
            font-family: $font__family;
            font-size: $font__size;
            width: 125px;
            height: 38px;
            border: none;
            border-radius: 28px;
            color: white;
            background-image: linear-gradient(to right top, #4293f7, #00b1ff, #00caf7, #00dfe2, #70f0cd);
        }
    }

}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    font-weight: $font__weight;

    button {
        font-size: $font__size;
        font-family: $font__family;
        font-weight: $font__weight;
        width: 296px;
        height: 41px;
        color: #C4C4C4;
        background-color: transparent;
        border: 1px solid #C4C4C4;

        &:hover {
            cursor: pointer;
            color: white;
            background-color: black;
        }
    }

    .left {
        border-radius: 10px 0 0 10px;
    }

    .right {
        border-radius: 0 10px 10px 0;
    }
}



@media (max-width:875px){
    header{
        h1{
            font-size: 30px;
        }
    }
    .header{
        justify-content: center;
        &__info{
            display: none;
        }
        &__buttons{
            display: none;
        }
    }
    
    .buttons{
        button{
            width: 30%;
        }
    }
}



