@import '../universal.scss';

.buttons{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    button{
        font-size: $font__size;
        font-family: $font__family;
        font-weight: $font__weight;
        width: 296px;
        height: 41px;
        color:  #C4C4C4;
        background-color: transparent;
        border: 1px solid #C4C4C4;
        &:hover{
            cursor: pointer;
            color: white;
            background-color: black;
        }
        .left{
            border-radius: 10px 0 0 10px;
        }
    }
}