@import '../universal.scss';

body{
    font-family: $font__family;
    width: 100vw;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    &__parrafo{
        text-align: center;
    }
    &__button{
        font-size: 20px;
        width: 110px;
        height: 40px;
        border: none;
        background-color: $blue;
        color: white;
        border-radius: 40px;
        padding: 10px 38px 10px 38px;
    }
    img{
        width: 80%;
        height: 640px;
    }
    h2{
        font-weight: 700;
        font-size: 44px;
    }
}

.second{
    display: flex;
    padding: 50px;
    background-color: antiquewhite;
    width: 100%;
    &__left{
        display: flex;
        flex-direction: column;
        gap: 54px;
        width: 50%;
        background-color: aquamarine;
        h3{
            font-weight: 700;
            font-size: 36px;
        }
        p{
            font-weight: 500;
            font-size: 18px;
        }
        div{
            p{
                color: #63CB75;
            }
        }
    }
    &__right{
        background-color: azure;
        width: 40%;
        img{
            width: 422px;
            height: 263px;
            position: absolute;
        }
        .up{
            top: 0px;
            right: 0px;
        }
        .half{
            top: 15px;
            left: 0px;
        }
    }
}

.four{
    display: flex;
    padding: 50px;
    width: 100%;
    gap: 20px;
    div{
        width: 30%;
        img{
            width: 43px;
            height: 50px;
        }
        .tittle2{
            font-weight: 700;
            font-size: 28px;
        }
        .description{
            font-weight: 500;
            font-size: 18px;
        }
    }
}

.five{
    display: flex;
    width: 100%;
    padding: 50px;
    gap: 50px;
    img{
        width: 50%;
        height: 620px;
    }
    div{
        display: flex;
        flex-direction: column;
        width: 35%;
        padding: 70px 30px;
        gap: 30px;
        background-color: antiquewhite;
        .app{
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
        }
        .appp{
            font-weight: 500;
            font-size: 18px;
        }
        .free{
            font-weight: 700;
            font-size: 24px;
        }
        button{
            width: 237px;
            height: 38px;
            border-radius: 28px;
            border: none;
            font-weight: 700;
            font-size: 14px;
            color: white;
            background-image: linear-gradient(to right top, #4293f7, #00b1ff, #00caf7, #00dfe2, #70f0cd);
        }
    }
}


