@import '../universal.scss';

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;

    .agenda {
        width: 85%;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        gap: 30px;

        h3 {
            font-weight: 700;
            font-size: 40px;
            text-align: center;
        }

        p {
            font-weight: 500;
            font-size: 18px;
            text-align: center;
        }

        .optimiza {
            font-weight: 700;
        }
    }

    .slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &__container {
            display: flex;
            align-items: center;
        }

        &__body {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            pointer-events: none;
        }

        &__arrow {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        &__img {
            width: 900px;
            height: 629px;
            transition: 1s;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        }

        h2 {
            font-weight: 700;
            font-size: 40px;
            text-align: center;
            padding-top: 60px;
        }
    }

    .service {
        display: flex;
        width: 90%;
        justify-content: center;
        gap: 50px;
        padding-top: 70px;

        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 45%;

            img {
                width: 43px;
                height: 50px;
                text-align: left;
            }

            p {
                text-align: left;
            }

            .tittle2 {
                font-weight: 700;
                font-size: 28px;
            }

            .description {
                font-weight: 500;
                font-size: 18px;
            }
        }
    }

    .cuadrado {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 60px;

        .beneficio {
            font-weight: 700;
            font-size: 40px;
        }

        .premium {
            font-weight: 900;
            font-size: 40px;
            color: linear-gradient(90deg, #078BFB 13.08%, #06F6C4 83.54%),
                linear-gradient(0deg, #1B1B1B, #1B1B1B);

        }

        .registro {
            display: flex;
            width: 100%;
            justify-content: space-between;

            p {
                width: 45%;
                text-align: left;
                font-weight: 600;
                font-size: 22px;
            }
        }

        .plus {
            display: flex;
            flex-direction: column;
            gap: 20px;

            aside {
                display: flex;
                gap: 50px;

                p {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 34px;
                }
            }
        }

        button {
            width: 309px;
            height: 57px;
            border: none;
            border-radius: 28px;
            background: linear-gradient(90deg, #4293F7 2%, #70F0CD 100%);
            color: white;
            font-weight: 700;
            font-size: 22px;
        }

        // background: linear-gradient(249.64deg, #078BFB 0%, #06F6C4 100%);
        // background-color: transparent;
        // border: 8px solid;
        // border-image-source: linear-gradient(249.64deg, #078BFB 0%, #06F6C4 100%);
        // border-radius: 40px;
    }
}

@media (max-width:875px) {
    .two {
        .agenda {
            h3 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
            }
        }

        .slider {
            &__body {
                img {
                    width: 300px;
                    height: 212px;
                }
            }

            &__arrow {
                width: 10px;
            }
        }

        .service {
            flex-direction: column;

            div {
                width: 100%;

                .tittle2 {
                    font-size: 20px;
                }

                .description {
                    font-size: 14px;
                }
            }
        }

        .cuadrado {

            .beneficio,
            .premium {
                font-size: 20px;
            }

            .registro {
                flex-direction: column;
                gap: 20px;
                text-align: center;

                p {
                    font-size: 14px;
                    width: 90%;
                }
            }

            .plus {
                aside {
                    p {
                        font-size: 14px;
                    }
                }
            }

            button {
                font-size: 16px;
                height: 44px;
            }
        }
    }
}