@import '../universal.scss';

.three{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    padding-top: 80px;
    width: 100%;
    div{
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 500px;
        .tittle{
            //width: 500px;
           // height: 82px;
            font-weight: 700;
            font-size: 34px;
            color: $blue;
        }
        p{
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
        }
        hr{
            border: 1px solid black;
        }
    }
}

@media (max-width:875px){
    .three{
        flex-direction: column;
        align-items: center;
        div{
            width: 95%;
            padding-left: 5px;
            .tittle{
                font-size: 20px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    
}