@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

$blue: #078BFB;
$font__family: 'Poppins';
$font__size: 15px;
$font__weight: 500;
